:root {
    --padding: 6rem 10%;
    --padding-lg: 3rem;
  
    --itemWidth: 13.25rem;
    --itemHeight: 20rem;

  }
  
  
  
  html {
    font-size: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #333;
  }
  
  body {
    margin: 0;
    font-size: 0.95rem;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: common-ligatures;
    line-height: 1.35;
    letter-spacing: -0.4px;
    color: #333;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: #fff;
    }
  
    .Social-anchor-circle {
      background-color: #fff;
    }
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .u-visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: inherit;
  }
  
  a:active,
  a:hover,
  a:focus {
    outline: 0;
  }
  
  button {
    text-transform: none;
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: left;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
  }
  
  a,
  button,
  input,
  select,
  textarea,
  label,
  summary {
    touch-action: manipulation;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  h1,
  h2 {
    font-size: 1.3rem;
    margin: 0;
  }
  
  h3 {
    font-size: inherit;
    margin: 0 0 1rem;
  }
  
  p {
    margin: 0 0 1rem;
  }
  
  h2 {
    margin: 0 0 0.5rem;
  }
  
  .root {
    overflow: hidden;
    min-height: 100vh;
  }
  
  .container {
    margin: 0 auto;
    padding: 1.5rem 1.25rem; 
    padding: var(--padding-lg);
    max-width: 60rem;
  }
  
  .section {
    margin-bottom: 2.5rem;
  }
  
  .sub-heading-wrapper {
    overflow: hidden;
    margin-bottom: .45rem;
  }
  
  .sub-heading {
    font-family: 'Inter', sans-serif;
    font-size: 1.55rem;
    font-weight: bolder;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      position: inherit;
      padding: var(--padding-lg);
    }
  
    body {
      font-size: 0.85rem;
    }
  }
  
  /* Title */

  .name {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 2.3rem;
    display: block;
    width: 15rem;
    margin-bottom: 0.75rem;
    font-weight: bolder;
  }

  .titrepro {
    font-size: 2.3rem; 
    width:100%;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
  }
  
  .name-split h1{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    will-change: transform, opacity;
    overflow: hidden;
  }
  
  .title {
    margin-bottom: 2rem;
    will-change: opacity;
  }
  
  .intro {
    max-width: 22rem;
    padding-right: 1rem;
    display: block;
    font-size: 1rem;
    font-weight: 700 ;
    text-align: justify;
    margin-bottom: 1.2rem;
  }
  
  .logo {
    margin-bottom: 1.25rem;
    max-width: 10rem;
    max-height: 11rem;
  }
  
    
  @media screen and (min-width: 768px) {
    .root{
        --itemWidth: 17.8rem;
        --itemHeight: 26rem;
    }
  }

  @media screen and (min-width: 768px) {
    .title {
      display: flex;
    }
  
    .intro {
      /* max-width: 24rem; */
      padding-top: 3px;
    }
  
    .name {
      margin-bottom: 0;
    }
  }
  
/* Social Links */

.social-links {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem !important;
    position: relative;
    z-index: 0;
  }
  
  .social-icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: currentColor;
    z-index: 1;
  }
  
  .social-anchor {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    position: relative;
    justify-content: center;

  }
  
  .social-anchor svg {
    width: 2.25rem;
    height: 2.25rem;
    fill: currentColor;
    z-index: 1;
  }

  .Social-anchor-circle {
    position: absolute;
    background-color: #333;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
  }
  
  @media screen and (min-width: 500px) {
    .social-links {
      margin-bottom: 1rem;
    }
  }
  
  /* Liste */
  .list {
    margin-bottom: 2.5rem;
    overflow: hidden;
  }
  
  .list:last-child {
    margin-bottom: 0;
  }
  
  .anchor {
    display: inline-flex;
    max-width: 31rem;
  }
  
  .anchor:hover .title,
  .anchor:focus .title {
    text-decoration: underline;
  }
  
  .title {
    margin-bottom: 0.35rem;
    font-weight: 700;
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
    position: relative;
    z-index: 1;
    margin-right: 0.5rem;
  }
  
  .iconWrap {
    position: relative;
    width: 2rem;
    height: 2rem;
  }
  
  .para {
    margin-bottom: 0;
    text-align: justify;
    font-weight: 500;
  }
  
  .skills-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 200px));
    gap: 0px 10px;
    overflow: hidden;
    list-style: none;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.skills-list h1{
  margin-top: .4rem;
  margin-bottom: .4rem;
}
ul.skills-listi li::before {
  content: "◾️";
  left: 0px;
  color: #333;
  line-height: 12px;
  padding-right: 0.5rem;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .skills-list {
  grid-template-columns: repeat(2, minmax(140px, 200px));
  }
  }
  
  @media screen and (max-width: 480px) {
  .skills-list {
  grid-template-columns: repeat(2, minmax(140px, 200px));
  }
  }
/* fleche  */
.scrolltop-wrap {
  box-sizing: border-box;
  position: absolute;
  top: 12rem;
  right: 2rem;
  bottom: 0;
  pointer-events: none;
  backface-visibility: hidden;
}
.scrolltop-wrap #scrolltop-bg {
  fill: #000000;
}
.scrolltop-wrap #scrolltop-arrow {
  fill: white;
}
.scrolltop-wrap a:hover #scrolltop-bg {
  fill: #000000;
}
.scrolltop-wrap a:hover #scrolltop-arrow {
  fill: white;
}

.scrolltop-wrap a {
  position: fixed;
  position: sticky;
  top: -5rem;
  width: 3rem;
  height: 3rem;
  margin-bottom: -5rem;
  transform: translateY(100vh);
  backface-visibility: hidden;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  pointer-events: all;
  outline: none;
  overflow: hidden;
}
.scrolltop-wrap a svg {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.scrolltop-wrap a svg path {
  transition: all 0.1s;
}
.scrolltop-wrap a #scrolltop-arrow {
  transform: scale(0.66);
  transform-origin: center;
}
@media print {
  .scrolltop-wrap {
    display: none !important;
 }
}


/* back button  */


.Back-btn {
  margin-bottom: 2rem;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.Back-btn:focus {
  outline: 0;
}

.Back-icon {
  width: 2rem;
  height: 2rem;
}

.Back-btn-circle {
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
}
