{% extends 'base.html.twig' %}

{% block title %}Corvo matthieu - portfolio
{% endblock %}

{% block body %}

	<!-- Section-->
<div class="root">
	<main class="container">
	   <header class="title">
	      <div class="name">
		     <div class="name-split">
				<div>CORVO.</div>
			 </div>
			  <div class="name-split">
				Matthieu
			 </div>
			  
		  </div>
			
		    <h1 class="intro" >
			Développeur spécialisé Symfony, je prends énormément de plaisir et d'enthousiasme à mettre mes compétences à profit pour résoudre des problèmes techniques et contribuer à l'avancement de projets.
		  </h1> 
		  
	   </header>
	   
	  
	   <h1 class="titrepro">Développeur PHP / Symfony </h1>
	   <ul class="social-links">
	   <li> 
	   <a class="social-anchor" href="mailto:promatthcorvo@gmail.com" target="_blank" rel="noopener noreferrer" style="color: rgb(51, 51, 51); opacity: 1; transform: translateY(0%) scale(1);">
	   <svg class="social-icon" viewBox="0 0 512 512">
	   <path d="M101.3 141.6v228.9h0.3 308.4 0.8V141.6H101.3zM375.7 167.8l-119.7 91.5 -119.6-91.5H375.7zM127.6 194.1l64.1 49.1 -64.1 64.1V194.1zM127.8 344.2l84.9-84.9 43.2 33.1 43-32.9 84.7 84.7L127.8 344.2 127.8 344.2zM384.4 307.8l-64.4-64.4 64.4-49.3V307.8z"></path>
	   </svg>
	   <span class="u-visually-hidden">E-mail</span>
	   <div class="Social-anchor-circle" style="transform: scale(0.5); opacity: 0;" ></div>
	   </a>
	   </li>	   
	   
	   <li> 
	   <a class="social-anchor" href="https://codesandbox.io/u/matthCorvo" target="_blank" style="color: rgb(51, 51, 51); opacity: 1; transform: translateY(0%) scale(1);">
	   <svg class="social-icon" viewBox="-256 -256 1024 1024">
	   <rect fill="none" stroke-width="60" stroke="currentColor" width="512" height="512"></rect>
	   </svg>
	   <span class="u-visually-hidden">CodeSandbox</span>
	   <div class="Social-anchor-circle" style="transform: scale(0.5); opacity: 0;" ></div>
	   </a>
	   </li>	   

 		<li> 
	   <a class="social-anchor" href="https://github.com/matthCorvo" target="_blank" style="color: rgb(51, 51, 51); opacity: 1; transform: translateY(0%) scale(1);">
	   <svg class="social-icon" viewBox="0 0 512 512"><path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path></svg>
	   <span class="u-visually-hidden">Github</span>
	   <div class="Social-anchor-circle" style="transform: scale(0.5); opacity: 0;" ></div>
	   </a>
	   </li>

       <li> 
	   <a class="social-anchor" href="https://codepen.io/matthandampcode" target="_blank" style="color: rgb(51, 51, 51); opacity: 1; transform: translateY(0%) scale(1);">
	   <svg class="social-icon" viewBox="0 0 512 512"><path d="M427 201.9c-0.6-4.2-2.9-8-6.4-10.3L264.2 87.3c-4.9-3.3-11.4-3.3-16.3 0L91.4 191.6c-4 2.7-6.5 7.4-6.5 12.2v104.3c0 4.8 2.5 9.6 6.5 12.2l156.4 104.3c4.9 3.3 11.4 3.3 16.3 0L420.6 320.4c4-2.6 6.6-7.4 6.6-12.2V203.9C427.1 203.2 427.1 202.6 427 201.9 427 201.7 427.1 202.6 427 201.9zM270.7 127.1l115.2 76.8 -51.5 34.4 -63.8-42.7V127.1zM241.3 127.1v68.6l-63.8 42.7 -51.5-34.4L241.3 127.1zM114.3 231.4l36.8 24.6 -36.8 24.6V231.4zM241.3 384.9L126.1 308.1l51.5-34.4 63.8 42.6V384.9zM256 290.8l-52-34.8 52-34.8 52 34.8L256 290.8zM270.7 384.9V316.3l63.8-42.6 51.5 34.4L270.7 384.9zM397.7 280.6l-36.8-24.6 36.8-24.6V280.6z"></path></svg>
	   <span class="u-visually-hidden">Codepen</span>
	   <div class="Social-anchor-circle" style="transform: scale(0.5); opacity: 0;" ></div>
	   </a>
	   </li>

<li> 
	   <a class="social-anchor" href="https://www.linkedin.com/in/corvomatthieu/" target="_blank" style="color: rgb(51, 51, 51); opacity: 1; transform: translateY(0%) scale(1);">
	   <svg class="social-icon" viewBox="0 0 512 512"><path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"></path></svg>
	   <span class="u-visually-hidden">Linkedin</span>
	   <div class="Social-anchor-circle" style="transform: scale(0.5); opacity: 0;" ></div>
	   </a>
	   </li>

	   </ul>
		 

 <section class="section">
	   <div class="sub-heading-wrapper">
	   <h2 class="sub-heading" style="transform: translate3d(0px, 0%, 0px);">Derniers projets </h2>
	   </div>
	   
	  <!-- Slider dragger mobile optimized -->
		<div class="slider-container">	
			<ol class="cards slider">		
			{% for projet in projets %}
			<li class="card-outter slider-item">
       		 <div class="tags d-flex flex-wrap">
			 <span class="tag">{{ projet.tags}}</span>
			 </div>
			<figure class="figure">
			
			{% if projet.image %}
    		<img src="{{ projet.image }}" alt="..." class="card-img-top">
			{% endif %}
     		 <figcaption>
			 <div class="text_card news-card__text-wrapper">
       		 <h3 class="title1">{{ projet.nom}}</h3>
       		 <h4 class="title2">{{ projet.infos }}</h4>
			 </div>
     		 </figcaption>
     		 <a href="{{ relative_path(path('show', {'id': projet.id})) }}"></a>
   			 </figure>
			</li>
			{% endfor %}

			</ol>
		</div>
		</section>



<section class="section">
		<div class="sub-heading-wrapper">
		<h2 class="sub-heading" >COMPÉTENCES </h2>
		</div>
		<div class="skills-list">
		<ul class="skills-listi">
		<h1>Front-End</h1>
		<li>Symfony</li>
		<li>ReactJs</li>
		<li>CSS</li>
		<li>WordPress</li>
		</ul>
		<ul class="skills-listi">
		<h1>Back-End</h1>
		<li>PHP</li>
		<li>Docker</li>
		<li>MySQL</li>
		<li>MongoDB</li>
		<li>NodeJS</li>
		</ul>
		<ul class="skills-listi" >
		<h1>Equipe</h1>
		<li>Slack</li>
		<li>FileZilla</li>
		<li>Git</li>
		</ul>
        <ul class="skills-listi" >
		<h1>Soft skills</h1>
		<li>Humilité</li>
		<li>Adaptabilité</li>
		<li>Rigeur</li>
		<li>Pérsévérance</li>
		</ul>
		</div>
	   </section>


<section class="section">
	<div class="sub-heading-wrapper">
		<h2 class="sub-heading">Volontariat</h2>
	</div>
	<ul class="list">
	<li class="list" style="overflow: visible;">

	<div class="anchor" style="transform: scale(1); opacity: 0.99;">
	<div class="iconwrap" style="color: rgb(51, 51, 51);">

	<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" class="icon" ><path fill="#fff" d="M24 4.050000000000001A19.95 19.95 0 1 0 24 43.95A19.95 19.95 0 1 0 24 4.050000000000001Z"/><path fill="#01579b" d="M8.001,24c0,6.336,3.68,11.806,9.018,14.4L9.385,17.488C8.498,19.479,8.001,21.676,8.001,24z M34.804,23.194c0-1.977-1.063-3.35-1.67-4.412c-0.813-1.329-1.576-2.437-1.576-3.752c0-1.465,1.471-2.84,3.041-2.84 c0.071,0,0.135,0.006,0.206,0.008C31.961,9.584,28.168,8,24.001,8c-5.389,0-10.153,2.666-13.052,6.749 c0.228,0.074,0.307,0.039,0.611,0.039c1.669,0,4.264-0.2,4.264-0.2c0.86-0.057,0.965,1.212,0.099,1.316c0,0-0.864,0.105-1.828,0.152 l5.931,17.778l3.5-10.501l-2.603-7.248c-0.861-0.046-1.679-0.152-1.679-0.152c-0.862-0.056-0.762-1.375,0.098-1.316 c0,0,2.648,0.2,4.217,0.2c1.675,0,4.264-0.2,4.264-0.2c0.861-0.057,0.965,1.212,0.104,1.316c0,0-0.87,0.105-1.832,0.152l5.891,17.61 l1.599-5.326C34.399,26.289,34.804,24.569,34.804,23.194z M24.281,25.396l-4.8,13.952c1.436,0.426,2.95,0.652,4.52,0.652 c1.861,0,3.649-0.324,5.316-0.907c-0.04-0.071-0.085-0.143-0.118-0.22L24.281,25.396z M38.043,16.318 c0.071,0.51,0.108,1.059,0.108,1.645c0,1.628-0.306,3.451-1.219,5.737l-4.885,14.135C36.805,35.063,40,29.902,40,24 C40,21.219,39.289,18.604,38.043,16.318z"/><path fill="#01579b" d="M4,24c0,11.024,8.97,20,19.999,20C35.03,44,44,35.024,44,24S35.03,4,24,4S4,12.976,4,24z M5.995,24 c0-9.924,8.074-17.999,18.004-17.999S42.005,14.076,42.005,24S33.929,42.001,24,42.001C14.072,42.001,5.995,33.924,5.995,24z"/></svg>

	<div class="Social-anchor-circle" style="transform: scale(0.5); opacity: 0;">
	</div>
	</div>
	<div>
	<h3 class="title" style="font-size:16px;">Formateur Wordpress, GRETA 95 - Mars 2021 </h3>

	<p class="para" style="font-size:16px;">
	~ Développement de sites internet avec le CMS Wordpress<br>
	~ Elaboration d'outils pédagogiques<br>
	~ Maîtrise des techniques de référencement SEO<br>
	~ Conception de thèmes WordPress <br>
	</p>
	</div>
	</div>
	</li>
	</ul>

</section>


	</main>
</div>

 <div class="scrolltop-wrap">
    <a href="#" role="button" aria-label="Scroll to top">
        <svg height="48" viewBox="0 0 48 48" width="48" height="48px" xmlns="http://www.w3.org/2000/svg">
            <path id="scrolltop-bg" d="M0 0h48v48h-48z"></path>
            <path id="scrolltop-arrow" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
        </svg>
    </a>
  </div>

{% endblock %}