/* slider */
.cards {
  font-size: 0;
  white-space: nowrap;
  margin-left: -2rem;
}
.card-outter {
  display: inline-block;
  padding-left: 20px;
}
.card {
  background: #ffffff;
  width: 250px;
  padding: 20px;
  border: 0;
  height: var(--itemHeight);
  margin: 0 0.25rem;
  width: var(--itemWidth);
}
.card .title {
  font-size: 16px;
  margin: 10px 0 6px;
}
.card .description {
  font-size: 12px;
  margin: 0;
}

.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}

.slider-container {
  position: relative;
  margin: 0 -20px;
}

.slider {
  transition: transform 0.2s ease-out;
}
.slider.active {
  transition: none;
  cursor: grab;
}

/* cards  */
.figure {
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border: none ;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.103), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.figure:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }


.figure img {
      height: 450px;;
}

.figure figcaption {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
flex-direction: column;
justify-content: flex-end;
text-align: left;
padding-left: 15px;}

.news-card__text-wrapper {
  background-color: #fff;
}

.figure h3 {
font-size: 44px;
font-weight: 400;
line-height: 1;
letter-spacing: 1px;
margin: 3px 0;
}


.figure .title1{
font-weight: 800;
font-size: 25px;
color: #000000;
text-transform: uppercase;
font-family: 'Poppins', sans-serif; 
margin-left: 5px;
margin-bottom: 5px;
} 


.figure .title2 {
color: #000000;
font-weight: 400;
text-transform: capitalize;
margin-left: 5px;
}

.figure a {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}


span {
  padding: 4px 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 6px;
  color: rgb(0 0 0);
  font-weight: 700;
  border: 2px solid rgb(143, 143, 143);
  letter-spacing: 1prgb(95, 95, 95)
}

.tags {
  margin-left: 0.5rem;
}