
/* project page */

.container_detail {
    position: relative;
    padding: 2rem 2rem 5rem;
    overflow-x: auto; 
    max-height: 100%;
    text-transform: capitalize;
  }
  
  @media screen and (min-width: 576px) {
    /* Adjust padding on small screens */
    .container_detail {
      padding: 2rem 4rem 5rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    /* Adjust padding on medium screens */
    .container_detail {
      padding: 2rem 6rem 5rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    /* Adjust padding on large screens */
    .container_detail {
      padding: 2rem 15rem 5rem;
    }
  }
.header_detail {
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #eaeaea;
}

.header_detail  a {
    font-size: 1rem ;
    font-weight: 900;
    color: black;
}

.main__post p {
    color: black;
    font-size: 1rem ;
}

.main__post img {
    width: 100%;
    height: auto;
    border-radius: 11px;
}

.main__post h3 {
    font-size: 1.5rem ;
    color: black;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: bolder;
} 

.main__post h4 {
    font-size: 1.5rem ;
    color: black;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.main__post h4 svg {
    vertical-align: bottom;
    width: 15px;
    margin-right: 3px;
}

.open__project {
    background: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 17px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;

}

.open__project svg {
    width: 16px;
    vertical-align: bottom;
    margin-left: 6px;
    fill: rgb(255, 255, 255);
}

.text_card{
    border-top-left-radius: 5px;
    border: 1px solid #c1c1c1;}