<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title> {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!--Google Font-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% if BASE_URL %}{{ BASE_URL }}{% endif %}/css/styles.css" rel="stylesheet" />
        <link href="{% if BASE_URL %}{{ BASE_URL }}{% endif %}/css/style.css" rel="stylesheet" />
        <link href="{% if BASE_URL %}{{ BASE_URL }}{% endif %}/css/card.css" rel="stylesheet" />
        <link href="{% if BASE_URL %}{{ BASE_URL }}{% endif %}/css/projet.css" rel="stylesheet" />
        </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% if BASE_URL %}{{ BASE_URL }}{% endif %}/js/scripts.js"></script>
</html>